<h2>投稿一覧</h2>
<% if session[:user_id] %>
<% tasks.each do |task| %>

      <div class="media-body">
        <div>
          <p><%= task.status %>  <%= task.content %></p>
        </div>
        <%= link_to "編集する","/tasks/#{task.id}/edit" %>
        <%= link_to "削除する",task,method: :delete %>
      </div>
  
<% end %>
<% end %>